body{
  background-image: url("template.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 550px 700px;
  text-align: center;
}
#info{
  background-color: #ff0000;
  margin: 0 auto;
  width: 35em;
  height: 12em;
  margin-top: 21em;
  font-size: .8em;
  color: white;
}
#menu{
  background-color: #ff0000;
  margin: 0 auto;
  width: 28em;
  height: 8em;
  font-size: 1em;
  color: white;
  margin-top: 1em;
}
